@CHARSET "ISO-8859-1";
/*Events page*/
.on-hover-div {
	border: 1px solid #f00;
	width: 200px;
	height: 100px;
	display: none;
	position: absolute;
	margin-top: -130px;
	background-color: #f00;
}

.event-link:hover .on-hover-div,.event-link:hover .carrot {
	display: block;
	
}

.event-link {
	margin: 300px auto;
	position: absolute;
	cursor: pointer;
}
.col{
	border:1px solid black;
}

.carrot {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #f00;
	margin-top: -35px;
	display: none;
}

/*all buttons*/
.button-placeholder {
	list-style-type: none;
	display: inline-block;
}

div #all-buttons-div {
	padding: 1px 8px 1px 8px;
}

.all-buttons {
	border: 1px solid #CC0000 !important;
	background-color: #CC0000 !important;
	color: white !important;
	text-align: center !important;
	font-family: Arial !important;
	font-size: 20px !important;
	font-weight: bold !important;
	border-radius: 3px;
}

.text-container-upper {
	color: black;
	margin-top: 12px;
	margin-left: 3%;
	text-align: center;
	font-family: Arial;
	font-size: 20px;
	font-weight: bolder;
	position: absolute;
}

.text-container {
	border: 1px solid gray;
	width: 95%;
	height: 85%;
	margin: 55px auto;
}

#main-container {
	padding: 0px;
	margin: 0px;
	width: 100%;
	min-width: 1024px;
	height: 900px;
	background: #ffffff;
}

body {
	padding: 0px;
	margin: 0px;
	background: transparent;
	width: 100%;
	min-width: 1024px;
}

.main-header {
	width: 100%;
	min-width: 1024px;
	height: 100px;
	padding: 0;
	background-color: white;
	margin: 0;
}

#image-container {
	height: 90px;
	width: 90px;
	padding: 0;
	margin-top: 5px;
	margin-left: 5px;
	background-image: url('../default/images/WhizTechLogo.png');
}

.menu a {
	color: white !important;
	text-decoration: none;
}

.nav-menu-template .menu,.nav-menu {
	color: white !important;
}

.menu-items-slider {
	width: 98%;
	min-width: 990px;
}

#login-admin-guest {
	float: right;
	margin-top: -20px;
	margin-right: 20px;
	width: 200px;
	margin-top: -30px;
}

.login-logout {
	cursor: pointer;
	color: white;
	border: 1px solid black;
	background-color: red;
	float: right;
}

.welcome {
	float: left;
}

#text1 {
	color: white !important;
}

#nav-menu-container {
	width: 100%;
	min-width: 1024px;
	padding: 0;
	margin: 0;
	height: 40px;
}

.menu {
	position: relative;
	padding: 0px 5px 0px 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.menu:hover {
	background-color: gray;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
	text-decoration: none;
}

#menu-admin {
	float: right;
}

#nav-menu-container li {
	list-style-type: none;
	display: inline;
	font-size: 20px;
	font-family: sans-serif;
	color: white;
}

#nav-menu-container div {
	margin-left: 20px;
	position: absolute;
	margin-top: 8px;
}

#carousel-n-overview {
	height: 400px;
	margin-top: 400px;
	margin: auto;
}

table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

#carousel-section {
	width: 70%;
	height: 100%;
	background-color: gray;
	opacity: 0.7;
}

#overview-section {
	width: 30%;
	height: 100%;
	background-color: yellow;
}

.reports-n-achievements-n-training {
	width: 100%;
	min-width: 1024px;
}

.reports-n-achievements-n-training-individual-box-verti {
	box-sizing: border-box;
	width: 32%;
	margin: 1% 0% 0% 1%;
	height: 500px;
	float: left;
	z-index: 0;
}

#reports-section-verti {
	background-color: red;
}

#achievements-section-verti {
	background-color: green;
}

#training-section-verti {
	background-color: blue;
}

.reports-n-achievements-n-training-toggle-button-edit {
	margin-right: 8px;
	border: 2px ridge black;
	float: right;
	margin-top: 13px;
	cursor: pointer;
}

.reports-n-achievements-n-training-toggle-button-edit:hover {
	box-shadow: 1px 1px 5px 2px gray;
}

.reports-n-achievements-n-training-toggle-button-edit:active {
	opacity: 0.8;
	border: 2px ridge transparent;
	box-shadow: none;
}

.reports-n-achievements-n-training-toggle-button {
	margin-right: 8px;
	border: 2px ridge black;
	float: right;
	margin-top: 13px;
	cursor: pointer;
	/*border:0.5px ridge gray;*/
}

.reports-n-achievements-n-training-toggle-button:hover {
	box-shadow: 1px 1px 5px 2px gray;
}

.reports-n-achievements-n-training-toggle-button:active {
	opacity: 0.8;
	border: 2px ridge transparent;
	box-shadow: none;
}

#reports-section-plus,#achievements-section-plus,#training-section-plus
	{
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-image: url('../default/images/expand.jpg');
}

#reports-section-minus,#achievements-section-minus,#training-section-minus
	{
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-image: url('../default/images/collapse.jpg');
	display: none;
}

#reports-section-button,#achievements-section-button,#training-section-button,#overview-section-button
	{
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-image: url('../default/images/pencil.jpg');
}

.reports-n-achievements-n-training-individual-box-hori {
	box-sizing: border-box;
	width: 98%;
	min-width: 1004px;
	position: absolute;
	margin: 65px 0 0 13px;
	height: 450px;
	display: none;
}

#reports-section-hori {
	background-color: red;
}

#achievements-section-hori {
	background-color: green;
}

#training-section-hori {
	background-color: blue;
}

.reports-n-achievements-n-training-hori-sections {
	box-sizing: border-box;
	height: 425px;
	float: left;
	z-index: 0;
	border: 1px solid gray;
}

#reports-n-achievements-n-training-hori-sections-left {
	margin: 0.65% 0% 0% 1%;
	width: 30.5%;
}

#reports-n-achievements-n-training-hori-sections-right {
	margin: 0.65% 0% 0% 1.7%;
	width: 65.5%;
}

#main-footer {
	background-image: url('../default/images/Footer.png');
	width: 100%;
	min-width: 1024px;
	padding: 0;
	margin: 0;
	height: 150px;
}

#main-footer p {
	font-family: cambria;
	font-size: 11px;
	color: gray;
	margin-left: 450px;
	margin-top: 527px;
}
/*Editor config below*/
.ui-dialog-content {
	background-color: #333333;
}

.ui-editor-group,.ui-editor-toolbar {
	background-image: none !important;
	margin-left: 0px !important;
}

.ui-dialog-titlebar {
	background-image: none !important;
	background-color: white;
}

.ui-dialog-titlebar:hover {
	background-color: #dedede !important;
	border: 1px solid black !important;
}

.ui-dialog {
	border: 1px solid #333333;
}

.ui-editor-button:HOVER {
	background-color: yellow !important;
}

/*Login dialog config below */
.ui-dialog-content {
	background-color: #333333;
}

.ui-dialog-titlebar {
	background-image: none !important;
	background-color: white;
}

.ui-dialog-titlebar:hover {
	background-color: #dedede !important;
	border: 1px solid black !important;
}

.ui-dialog {
	border: 1px solid #333333;
}

.ui-editor-button:HOVER {
	background-color: yellow !important;
}

/*file class styles below*/
.fileTable {
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	/*width:100%;*/
	height: 95%;
}

.fileTableOddRow:hover,.fileTableEvenRow:hover {
	background-color: #eeeeee !important;
	cursor: pointer;
}

.fileTableOddRow {
	background-color: #cfcfcf !important;
}

.fileTableEvenRow {
	background-color: #dadada !important;
}

.datatable-footer {
	text-align: right;
	float: right;
	border: 1px solid black;
}

.file-name-style {
	text-decoration: none;
	font: monospace;
	font-size: 15px;
	color: black;
}

.file-name-style:hover {
	text-decoration: underline;
}

.delete-file {
	width: 20px !important;
	height: 20px !important;
	cursor: pointer;
	border: 2px ridge black !important;
}

.delete-file:hover {
	box-shadow: 1px 1px 5px 2px gray;
}

.delete-file:active {
	opacity: 0.8;
	border: 2px ridge transparent !important;
	box-shadow: none !important;
}